    <div id="second-main-wraper">
        <div id="second-main-left">
            <div id="main-left-header">
                <div id="project-logo"><img src="/assets/zerply.jpg" width="40px" class="inline"/></div>
                <span class="main-project-title">Zerply</span>
                <div class="project-navigation">
                    <div class="all-project-icon">
                        <i class="fa fa-briefcase"></i>
                        <span>All projects</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="project-left-right">
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
<!--                 <div class="input-search">
                    <i class="fa fa-search fa-lg icon-search"></i>
                    <input type="text" />
                </div> -->
            </div>
            <div id="main-left-list">
                <!-- Backlog pad -->
                <div class="search-tasks">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search ..."/>
                </div>
                <div class="hide-search-tasks">
                    <span><i class="fa fa-caret-up"></i></span>
                </div>

                <div class="left-list-header">
                    <div class="header-icons">
                        <div class="list-name">Backlog <i class="fa fa-caret-down"></i></div>
                    </div>
                    <div class="header-nav">
                        <span class="new-task">View All (12)</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="fade-black" />
                <div class="left-list">
                    <ul>
                        <li>
                            <input id="task-checked-1" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-1"></label>
                            <span class="tasks-username"> User Behaviour & Strategies</span>
                            <span class="tag green">Android</span>
                            <img src="/assets/users/user-1.jpg" style="width:30px">
                            <span class="task-notificaton">3</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-2" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-2"></label>
                            <span class="tasks-username"> Development API</span>
                            <img src="/assets/users/user-3.jpg" style="width:30px">
                            <span class="task-no-notificaton">0</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-3" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-3"></label>
                            <span class="tasks-username"> No updates for this discussion</span>
                            <img src="/assets/users/user-1.jpg" style="width:30px">
                            <span class="task-no-notificaton">0</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-4" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-4"></label>
                            <span class="tasks-username"> User Experience Dynamics</span>
                            <span class="tag light-blue">Django</span>
                            <span class="tag dark-red">Knockout</span>
                            <img src="/assets/users/user-2.jpg" style="width:30px">
                            <span class="task-notificaton">1</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                    </ul>
                </div>
                <!-- Backlog pad end -->

                <!-- Specification pad -->
                <div class="left-list-header">
                    <div class="header-icons">
                        <div class="list-name">Ux Design <i class="fa fa-caret-down"></i></div>
                    </div>
                    <div class="header-nav">
                        <span class="new-task">View All (12)</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="fade-black" />
                <div class="left-list">
                    <ul>
                        <li>
                            <input id="task-checked-5" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-5"></label>
                            <span class="tasks-username"> Available heatmap tools</span>
                            <img src="/assets/users/user-4.jpg" style="width:30px">
                            <span class="task-notificaton">4</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-6" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-6"></label>
                            <span class="tasks-username"> UX Charts and app flow</span>
                            <span class="tag light-red">Bootstrap</span>
                            <span class="tag metalic">Ember</span>
                            <img src="/assets/users/user-3.jpg" style="width:30px">
                            <span class="task-notificaton">5</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-7" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-7"></label>
                            <span class="tasks-username"> Android wireframes</span>
                            <img src="/assets/users/user-1.jpg" style="width:30px">
                            <span class="task-no-notificaton">0</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-8" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-8"></label>
                            <span class="tasks-username"> iOS wireframes</span>
                            <span class="tag cyan">backbone</span>
                            <img src="/assets/users/user-3.jpg" style="width:30px">
                            <span class="task-notificaton">2</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                    </ul>
                </div>
                <!-- Specification pad end -->

                <!-- Ready pad -->
                <div class="left-list-header">
                    <div class="header-icons">
                        <div class="list-name">Backend Development <i class="fa fa-caret-down"></i></div>
                    </div>
                    <div class="header-nav">
                        <span class="new-task">View All (12)</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="fade-black" />
                <div class="left-list">
                    <ul>
                        <li>
                            <input id="task-checked-9" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-9"></label>
                            <span class="tasks-username"> Main functions</span>
                            <img src="/assets/users/user-4.jpg" style="width:30px">
                            <span class="task-no-notificaton">0</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-10" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-10"></label>
                            <span class="tasks-username"> Deployment scripts</span>
                            <img src="/assets/users/user-3.jpg" style="width:30px">
                            <span class="task-no-notificaton">0</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-11" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-11"></label>
                            <span class="tasks-username"> Data Layer</span>
                            <img src="/assets/users/user-4.jpg" style="width:30px">
                            <span class="task-notificaton">6</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                        <li>
                            <input id="task-checked-12" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-12"></label>
                            <span class="tasks-username"> Integration testing</span>
                            <img src="/assets/users/user-2.jpg" style="width:30px">
                            <span class="task-notificaton">4</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                    </ul>
                </div>
                <!-- Ready pad end -->


                <!-- In progress pad -->
                <div ng-repeat="board in boards">
                <div class="left-list-header">
                    <div class="header-icons">
                        <div class="list-name">{{board.title}} <i class="fa fa-caret-down"></i></div>
                    </div>
                    <div class="header-nav">
                        <span class="new-task">View All (12)</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <hr class="fade-black" />
                <div class="left-list">
                    <ul ng-repeat="task in board.tasks">
                        <li>
                            <input id="task-checked-13" class="task-completed-checkbox" type="checkbox" />
                            <label for="task-checked-13"></label>
                            <span class="tasks-username"> {{ task.title }}</span>
                            <img ng-src="/assets/users/user-{{ task.assignee_id - 1 }}.jpg" style="width:30px">
                            <span class="task-notificaton">3</span>
                            <span class="task-due-date">29 Nov</span>
                        </li>
                    </ul>
                </div>
                </div>
                <!-- In progress pad end -->
            </div>
        </div>

        <div id="second-main-right">
            <div id="main-right-title">
                <span id="main-task-title">Development API</span>
            </div>
            <div class="clearfix"></div>
            <div id="task-description">
                <span>Description <i class="fa fa-caret-down"></i> </span>
                <span>User experience is a process of discovery, vision definition, strategy, planning, execution, measurement and iteration. It requires flexibility, and a willingness to be wrong untill you are right.</span>
            </div>
            <div id="task-navigation">
                <ul>
                    <li><i class="fa fa-comment-o"></i> Comments</li>
                    <li><i class="fa fa-paperclip"></i> Attachments</li>
                    <li>Logs</li>
                    <li>Activity</li>
                </ul>
                <hr />
            </div>
        </div>
    </div>