<div id="second-navigation" ng-include="'nav/_nav.html'"></div>
<div id="second-main-wraper">
  <div id="second-main-left">
    <div id="main-left-header">
      <!-- <div id="project-logo"><img src="/assets/zerply.jpg" width="40px" class="inline"/></div>
      <span class="main-project-title">Zerply</span> -->
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search by tags, deadline, user, task group or task name"/>
      <!--
      <div class="project-navigation">
        <div class="all-project-icon">
          <i class="fa fa-filter"></i>
          <span>Filter tasks</span>
          <i class="fa fa-caret-down"></i>
        </div>
        <div class="all-project-icon" ng-click="toggleProjectsList()">
          <i class="fa fa-briefcase"></i>
          <span>All projects</span>
          <i class="fa fa-caret-down"></i>
        </div>
      </div>
      -->
    </div>
    <div class="border-helper">
      
    </div>
    <div class="clearfix"></div>
    <div id="main-left-list">
    <div class="filters">
    </div>

    <!-- All projects popup -->
    <div>
      <popover show='popoverProjectsShown' width='300px' height='250px' top='190px' left='920px'>
        <div class="ng-popover-header">
          <span>List of all projects</span>
          <i class="fa fa-times" ng-click="toggleProjectsList()"></i>
        </div>
        <div class="ng-popover-project" ng-repeat="project in projectList" ng-click="openProject(project.id)">
          <img ng-src="/assets/vimeo.png" style="width:30px">
          <span class="project-title">{{ project.title }}</span>
        </div>
      </popover>
    </div>
    <!-- All projects popup end -->

    <!-- New Task Modal -->
    <div>
      <modal-dialog show='modalShown' width='500px' height='60%'>
        <div class="ng-modal-header">
          <h4>CREATE NEW TASK</h4>
        </div>
        <form ng-submit="addTask()" id="new-task-form">
          <input type="text" ng-model="newTask.title" placeholder="Title"></input>
          <textarea ng-model="newTask.description" placeholder="Description"></textarea>
          <div class='ng-modal-close-task' ng-click='toggleNewTaskModal()'>Close</div>
          <button type="submit">Create</button>
        </form>
      </modal-dialog>
    </div>
    <!-- New Task Modal End -->

    <!-- New Task Modal -->
    <div>
      <modal-dialog show='modalNewBoardShown' width='500px' height='60%'>
        <div class="ng-modal-header">
          <h4>CREATE NEW BOARD</h4>
        </div>
        <form ng-submit="addBoard()" id="new-task-form">
          <input type="text" ng-model="newBoard.title" placeholder="Title"></input>
          <div class='ng-modal-close-task' ng-click='toggleNewBoardModal()'>Close</div>
          <button type="submit">Create</button>
        </form>
      </modal-dialog>
    </div>
    <!-- New Task Modal End -->


      <!-- In progress pad -->
      <div class="task-board" ng-repeat="board in boards">
        <div class="left-list-header">
          <div class="header-icons">
            <div class="list-name" ng-click="toggleHideTasks()">{{board.title}} <i ng-class="hideTasks ? 'fa fa-angle-down' : 'fa fa-angle-up'"></i></div>
          </div>
          <div class="header-nav" ng-click="toggleCompletedTasks(board.id)">
            <div ng-if="board.completed_tasks != 0">
              <span ng-hide="board.showCompletedTasks" class="new-task">
                Show Completed ({{ board.completed_tasks }})
              </span>
              <span ng-show="board.showCompletedTasks" class="new-task">
                Hide Completed ({{ board.completed_tasks }})
              </span>
            </div>
            <div ng-if="board.completed_tasks == 0">
              No completed tasks
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr class="fade-black" />
        <div class="left-list" ng-hide="hideTasks">
          <ul ng-repeat="task in board.tasks">
            <li ng-click="changeActiveTask(task.id)">
              <input id="task-checked-{{ task.id }}" class="task-checkbox" ng-checked="task.completed" type="checkbox" ng-click="toggleCompleted(task, board)"/>
              <label for="task-checked-{{ task.id }}"></label>
              <span ng-class="task.completed ? 'completed' : ''" class="tasks-username"> {{ task.title }}</span>
              <!-- <img ng-src="/assets/users/user-{{ task.assignee_id - 1 }}.jpg" style="width:30px"> -->
              <span class="task-notificaton">3</span>
              <span class="task-due-date">29 Nov</span>
            </li>
          </ul>
        </div>
        <div id="create-new-task" ng-click='toggleNewTaskModal(board.id)' ng-hide="hideTasks">
          <i class="fa fa-plus-square"></i><span class="add-text">Add New</span>
        </div>
      </div>
      <div>
        <h3 ng-click="toggleNewBoardModal()">Create new board</h3>
      </div>
      <!-- In progress pad end -->
    </div>
  </div>

  <div id="second-main-right" ng-hide="taskAreaEmpty" ui-view></div>

  <div id="second-main-right" ng-show="taskAreaEmpty" ng-include="'tasks/_show.html'"></div>

</div>