ul {
  list-style: none;
}

#rooms ul {
  margin: 0px;
  padding: 0px;
}

#rooms ul li {
  padding-right: 10px;
  color: #cac8c9;
}

#rooms ul li:hover {
  color: #ffffff;
  cursor: pointer; 
  cursor: hand;
}

#rooms ul li a {
  text-decoration: none;
  color: #cac8c9;
}

#rooms ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

.room-name {
  padding-left: 10px;
  line-height: 32px;
}

hr {
  border: 0;
  margin: 0.95em auto;
  margin-left: -40px;
  background-position: 50%;
  box-sizing: border-box;
}

.fade {
  height: 1px;
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5) 50%,
    hsla(0, 0%, 100%, 0) 100%);
}

#test-container {
    width: 100%;
    height: 100%;
}

section.navigation ul li:nth-of-type(1) {
    background-color: #d25428;
    color: white;
    margin-top: -16px;
}

section.navigation ul li:nth-of-type(1) a {
    color: white;
}

section.navigation ul li a:hover {
    color: white;
}


ul {
  list-style: none;
}

.fade-black {
  height: 1px;
  background-color: #D6D6D6;
  margin-bottom: 0px;
  margin-left: 0px;
}

.cyan {
  background-color: #4ECDC4;
}

.metalic {
  background-color: #556272;
}

.light-red {
  background-color: #FF6B6B;
}

.dark-red {
  background-color: #C54C57;
}

.light-blue {
  background-color: #02B5F3;
}

.green {
  background-color: #84BD39;
}




#second-main {
  width: 100%;
  height: 100%;
}

#second-navigation {
  float: left;
  /*width: 250px;*/
  width: 234px;
  background-color: grey;
  height: 100%;
}

#second-main-wraper {
  width: 100%;
  height: 100%;
  background-color: green;
}

#second-main-left {
  background-color: white;
  height: 100%;
  float: left;
  /*width: calc((100% - 220px)/2);*/
  width: calc(100% - 726px);
}

#second-main-right {
  float: left;
  background-color: white;
  /*width: calc((100% - 220px)/2);*/
  width: 492px;
  height: 100%;
}



#first_logo_helper {
  width: 33px;
  height: 50px;
  background-color: #d25428;
  float: left;
}

#second_logo_helper {
  width: 32px;
  height: 70px;
  background-color: #d25428;  
  float: left;
}

#logo {
  background-color: #d25428;
  float: left;
  font-size: 20px;
  height: 58px;
  text-align: center;
  width: 234px;
}

#logo p {
  width: 100%;
  margin: 0px;
  margin-top: 10px;
}


#rooms {
    height: calc(100% - 70px);
    background-color: #1b2224;
    font-color: #535f63;
    width: 234px;
}

#rooms ul {
  margin-top: 10px;
}

#rooms ul li {
  margin: 0px 10px 5px 10px;
  color: #cac8c9;
  padding: 0px 10px;
}

#rooms ul li:hover {
  color: #ffffff;
  background-color: #313541;
  cursor: pointer; 
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
}

#rooms ul li a {
  text-decoration: none;
  color: #cac8c9;
  width: 220px;
  display: block;
  outline: 0;
}

#rooms ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

#rooms ul li i {
  width: 16px;
}

.room-name {
  padding-left: 10px;
  line-height: 32px;
}

.unread-messages-orange {
  color: #fff;
  background-color: #d25428;
  /*padding: 3px 6px;*/
  -moz-border-radius: 26px 26px;
  border-radius: 5px 5px;
  text-align: center;
  -webkit-border-radius: 5px 5px;
  width: 25px;
  height: 25px;
  float: right;
  margin-top: 4px;
  margin-right: 20px;
}





#main-left-header {
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
}

#main-left-list {
  overflow: auto;
  height: calc(100% - 70px);
}

#main-left-list::-webkit-scrollbar
{
  width: 5px;
  background-color: #f0f0f0;
}

#main-left-list::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #d25428;
}


#project-logo {
  float: left;
  margin-top: 16px;
  margin-left: 30px;
}

#main-left-header .main-project-title {
  float: left;;
  font-weight: normal;
  height: 50px;
  font-size: 38px;
  margin-top: 11px;
  margin-left: 15px;
}

.left-list-header {
  padding-top: 15px;
  /*
  border-top: 5px solid #d25428;
  border-radius: 5px;
  */

}

.left-list-header .header-icons {
  float: left;
  margin-left: 25px;
}

.left-list-header .header-nav {
  float: right;
  margin-right: 30px;
  margin-top: 11px;
  font-style: italic;
  font-size: 14px;
}

.project-navigation {
  float: right;
}

.all-project-icon {
  float: left;
  margin-top: 23px;
  margin-right: 15px;
  border: 1px solid #bbb;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
}

.all-project-icon span {
  margin-right: 5px;
}

.all-project-icon i:nth-child(1) {
  margin-right: 5px;
}

/* not needed i removed the arrows in top menu
.project-left-right {
  float: right;
  margin-top: 23px;
  margin-right: 10px;
}

.project-left-right i:nth-child(1) {
  padding: 7px 12px 6px 12px;
  border: 1px solid #bbb;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.project-left-right i:nth-child(2) {
  padding: 7px 12px 6px 12px;
  border: 1px solid #bbb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -4px;
}
*/

.search-tasks {
  margin-top: 3px;
  position: relative;

}

.search-tasks input {
  width: 100%;
  padding: 25px 10px 25px 50px;
  border: none;
  font-size: 18px;
  outline: none;

}

.search-tasks i {
  position: absolute;
  padding: 28px 20px;
}

.hide-search-tasks {
  text-align: center;
  border-bottom: 5px solid #f5f5f5;
  margin-top: -27px;
  width: 100%;
  position: relative;;
}

.hide-search-tasks span {
  width: 80px;
  display: block;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
}

.hide-search-tasks span i {
  
}





.list-name {
  font-size: 20px;
  float: left;
  cursor: pointer;
  color: #d25428;
}
.list-name i {
  margin-left: 5px;
  padding-top: -9px;
}

.left-list {
  /*margin-bottom: 50px;*/
}

.left-list ul {
  margin: 0px;
  padding: 0px;
}

.left-list ul li {
  border-bottom: 1px solid #d6d6d6;
  height: 40px;
  padding: 10px 30px;
  font-size: 15px;
}

.left-list ul li label {
  font-size: 17px;
  margin-top: 0px;
};

.left-list ul li .tag {
  font-size: 14px;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.left-list ul li .completed {
  /*color: #CAC8C9;*/
  text-decoration: line-through;
}

.left-list ul li:hover {
  
  background-color: #F4F4F4;
  cursor: pointer;
}

.left-list ul li img {
  float: right;
  border-image: 5px;
  border-radius: 5px;
  margin-top: -5px;;
}

.left-list ul li span {
}

.task-notificaton {
  color: #fff;
  background-color: #d25428;
  padding: 2px 6px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  text-align: center;
  -webkit-border-radius: 5px 5px;
  width: 25px;
  height: 25px;
  float: right;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top: -3px;
}

.task-no-notificaton {
  color: #fff;
  background-color: #cccccc;
  padding: 3px 6px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  text-align: center;
  -webkit-border-radius: 5px 5px;
  width: 30px;
  height: 30px;
  float: right;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top: -5px;;
}

.task-due-date {
  float: right;
  margin-right: 15px;
  margin-top: -2px;
  font-size: 15px;
}







.task-checkbox { display: none; }
.task-checkbox + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.task-checkbox + label {
  font-size: 20px;
  display: block;
  float: left;
  width: 30px;
  margin-top: -3px;
}

.task-checkbox + label:before {
  content: "\f096"; }
.task-checkbox + label:before { letter-spacing: 10px; }

/*.task-checkbox:checked + label:before { content: "\f046"; color: #CAC8C9; }*/
.task-checkbox:checked + label:before { content: "\f14a"; color: #84BD39; }
.task-checkbox:checked + label:before { letter-spacing: 5px; }





#main-right-title {
  height: 70px;
  width: 100%;
}

#main-task-title {
  float: left;
  font-size: 38px;
  padding: 16px;
}

#task-description span:nth-child(1) {
  padding: 8px 16px;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

#task-description span:nth-child(1) i {
  margin-left: 5px;
}

#task-description span:nth-child(2) {
  padding: 8px 16px;
  display: block;
}

#task-navigation {

}

#task-navigation ul {
  text-align: left;
  border-bottom: 1px solid #d6d6d6;
  padding: 0px;
  margin: 0px 16px;
  
}

#task-navigation ul li:nth-child(1) {
  padding-left: 30px;
}

#task-navigation ul li {
  display: inline-block;
  padding: 10px 40px 10px 40px;
  font-weight: bold;
  cursor: pointer;
  
}

#create-new-task {
  padding: 9px 0px 9px 30px;
  text-align: left;
  /*border-bottom: 1px solid #d6d6d6;*/
  border-radius: 0px 0px 10px 10px;
}

#create-new-task .add-text {
  padding-left: 15px;
}

#create-new-task:hover {
  background-color: #F4F4F4;
  cursor: pointer;
}

#new-task-form {
  padding: 20px 30px;
}
#new-task-form input, #new-task-form textarea {
  padding: 15px;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  /*font-family: montserrat;*/
  color: #2C3E50;
  font-size: 13px;
}

#login-form-wraper {
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.login-form {
  box-shadow: 0px 0px 5px #888888;
  -moz-border-radius: 10px 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px 10px;
}

.login-form .colored-box {
  padding: 45px 60px 75px;
}

.colored-box.grey {
  background-color: white;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.login-form-header {
  background-color: white;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  border-top: 5px solid #d25428;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
}

.login-form-header h2 {
  margin: 0px;
  font-size: 20px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form-control-login {
  -moz-appearance: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
  font-size: 18 px;
  height: 45px;
  line-height: 28px;
  padding: 10px 20px 8px;
  margin-bottom: 20px;
  border-radius: 5px 5px;

  background-color: white;
  background-image: none;
  color: #555555;
  display: block;
  width: 100%;
  font-family: inherit;
}

.sign-in-btn {
  color: white;
  background-color: #d25428;
  border: medium none;
  float: right;
  padding: 12px 50px;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

.remember-me {
  display: block;
  float: left;
  margin-top: 10px;
}

.remember-me-label {
  margin-left: 15px;
}

body {
 /*background-color: #d9dee2;*/
  background-color: #EFEFEF;
}

.checkbox-icon {
  background: none repeat scroll 0 0 white;
  border: 1px solid #c6c6c6;
  display: inline-block;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.checkbox-remember { display: none; }
.checkbox-remember + label:before {
  font-family: FontAwesome;
  display: inline-block;
  cursor: pointer;
}

.checkbox-remember + label {
  background: none repeat scroll 0 0 white;
  border: 1px solid #c6c6c6;
  display: inline-block;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 25px;
  cursor: pointer;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

.checkbox-remember + label:before {
  content: ""; }
.checkbox-remember + label:before { letter-spacing: 10px; }

.checkbox-remember:checked + label:before { content: "\f00c"; }
.checkbox-remember:checked + label:before { letter-spacing: 5px; padding-left: 3px; }

.sign-up-msg {
  padding-top: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}

.see-tasks-link {
  font-size: 16px;
  font-weight: normal;
  padding-left: 30px;
}

/* all projects popup */
#all-projects {
  z-index:10000;
  position: absolute;
  width: 300px;
  height: 210px;
  top: 170px;
  left: 911px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;

  background-color: #fff;
  box-shadow: 0px 0px 5px #888;;
}
/* all projects popup end */

/* Task board list */
.task-board {
  margin: 10px 15px;
  /*box-shadow: 0px 0px 5px #888888;*/
  /*border-radius: 10px;*/
}
/* Task board list end*/

#project-select {
  width: 210px;
  color: #575858;
  margin: 12px;
}

#project-select:hover {
  background-color: #313541;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  cursor: pointer;
}


#project-select img{
  width: 34px;
  height: 34px;
}

#project-select span {
  font-size: 16px;
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0px 0px 10px;
}

#project-select i {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0px 0px 0px;
  color: #9e9e9f;
  opacity: 0.7;
}

#project-select i:hover {
  opacity: 1;
}


